@model SuperMammoth.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Welcome Back</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <img width="30" id="btnShow" src="~/img/eye-outline.svg" />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-controller="Home" asp-action="Index">Back</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/sitejs.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
