@model SuperMammoth.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<div>
    <a asp-action="Index" asp-controller="Home">Back</a>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="input-group">
                    <input id="btnShow" asp-for="Password" class="form-control" />
                    <span style="margin-left: 10px" class="input-group-append"><img style="cursor:pointer" width="25" onclick="toggle()" src="~/img/eye-outline.svg" /></span>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethodId" class="control-label"></label>
                <select asp-for="PaymentMethodId" class="form-control">
                    <option value="1">PayPal</option>
                    <option value="2">Bank Transfer</option>
                    <option value="3">MasterCard</option>
                    <option value="4">Visa</option>
                </select>
                <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
            </div>
            <input type="checkbox" id="GDPR" name="GDPR" required>
            <label for="GDPR"> I agree with Mammoth's <a href="https://localhost:44355/Home/Privacy" target="_blank">Privacy Policy, Terms and Conditions</a></label><br>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var state = false;
        function toggle() {
            if (state) {
                document.getElementById("btnShow").setAttribute("type", "password");
                state = false;
            } else {
                document.getElementById("btnShow").setAttribute("type", "text");
                state = true;
            }
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
