@model SuperMammoth.Models.ReservationDTOModel
@{
    ViewData["Title"] = "MakeReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Reservation process completed with success.</h4>



<div>
    @Html.ActionLink("My Reservations", "GetReservationByUser", "Reservations", Model)
</div>
