@model SuperMammoth.Models.ReservationModel

@{
    ViewData["Title"] = "Make Available to rent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Park</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MakeAvailableToRent">
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" placeholder="0" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="ExternalId" class="control-label"></label>
                <input asp-for="ExternalId" class="form-control" placeholder="0" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" placeholder="0" readonly />
               
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" placeholder="0" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" placeholder="0" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" placeholder="0" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="SlotId" class="control-label"></label>
                <input asp-for="SlotId" class="form-control" placeholder="0" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="Locator" class="control-label"></label>
                <input asp-for="Locator" class="form-control" placeholder="0" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="QrCode" class="control-label"></label>
                <input asp-for="QrCode" class="form-control" placeholder="0" readonly />
               
            </div>
            <div class="form-group">
                <label asp-for="AvailableToRent" class="control-label"></label>
                <input asp-for="AvailableToRent" class="form-control" placeholder="0"  />
                
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" placeholder="0" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="ParkId" class="control-label"></label>
                <input asp-for="ParkId" class="form-control" placeholder="0" readonly />
               
            </div>
            <div class="form-group">
                <label asp-for="Park.Name" class="control-label"></label>
                <input asp-for="Park.Name" class="form-control" placeholder="0" readonly />
               
            </div>
            <div class="form-group">
                <label asp-for="RentValue" class="control-label"></label>
                <input asp-for="RentValue" class="form-control" placeholder="0"/>
                <span asp-validation-for="RentValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
