@{
    ViewData["Title"] = "Area";
}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<h1>Charts</h1>

<div id="area">
    <script type="text/javascript">

        window.onload = function () {
            var year = new Date().getFullYear();

            var chart = new CanvasJS.Chart("area", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Simple area Chart in ASP.NET MVC"
				},
                axisX: {
                    title: "Month"
                },
                axisY: {
                    title: "Number of Reservations"
                },

                 subtitles: [
                    { text: "area" }
                ],
                legend: {
                    verticalAlign: "top",
                    horizontalAlign: "right",
                    dockInsidePlotArea: true
                },
                data:[{
						name: "Reservations created per month",
						showInLegend: true,
						legendMarkerType: "square",
                    type: "area",

						color: "rgba(12, 171, 202, 1)",
						markerSize: 0,
                        dataPoints: @Html.Raw(ViewBag.createAtmonth)
                },
                {
						name: "Reservations started per month",
						showInLegend: true,
						legendMarkerType: "square",
                    type: "area",

                        color: "rgba(12, 202, 59, 1)",
						markerSize: 0,
						dataPoints: @Html.Raw(ViewBag.startAtmonth) 
				},
				{
						name: "Reservations ended per month",
						showInLegend: true,
						legendMarkerType: "square",
                    type: "area",

						color: "rgba(202, 12, 82, 1)",
						markerSize: 0,
						dataPoints: @Html.Raw(ViewBag.endAtmonth)
	            }]
            });
            chart.render();
        };
    </script>
</div>