@{
    ViewData["Title"] = "Bar";
}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<h1>Charts</h1>

<div id="bar">
    <script type="text/javascript">

    window.onload = function () {
        var chart = new CanvasJS.Chart("bar", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Simple bar Chart in ASP.NET MVC"
            },
            subtitles: [
                { text: "bar" }
            ],
            data: [
                {
                    type: "bar", //change type to bar, line, area, pie, etc
                    dataPoints: @Html.Raw(ViewBag.DataPoints)
                }
            ]
        });
        chart.render();
    };
    </script>
</div>