
@{
    ViewData["Title"] = "Charts";
}

<h1>Charts</h1>
<div class="col-10">
<a class="btn btn-info" asp-controller="DashBoard" asp-action="Column">Column</a>
<a class="btn btn-info" asp-controller="DashBoard" asp-action="Bar">Bar</a>
<a class="btn btn-info" asp-controller="DashBoard" asp-action="Line">Line</a>
<a class="btn btn-info" asp-controller="DashBoard" asp-action="Area">Area</a>
<a class="btn btn-info" asp-controller="DashBoard" asp-action="Pie">Pie</a>
</div>
