@model SuperMammoth.Models.PayPal.PayPalPaymentCreatedResponse

@{
    ViewData["Title"] = "Execute";
}

<h1>Execute</h1>

<h4>PayPalPaymentCreatedResponse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Execute">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <input type="submit" value="Execute" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
